body {
  margin: 0;
  background-color: #f0f2f5;
  font-family: 'Segoe UI', sans-serif;
}

.app-header {
  background-color: #005cbf;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

.app-body {
  display: flex;
  flex-direction: column;
}
